<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap align-items-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <div class="six">
        <h1>Moa Dashboard
          <span>Your Team, Your Data, Your Success</span>
        </h1>
      </div>
    </a>
    <input *ngIf="ISuserslist" class="col-12 col-lg-auto mb-3 mb-lg-0 mysearch" type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="Search users">
  </div>
</header>
